<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean name="a"
		class="com.springcore.Student" >
		<property name="studentId">			<!--using property to set value we are actually calling setter method-->
		<value>1008</value>
		</property>
		<property name="studentName">
		<value>Shri Ganesh</value>
		</property>
		<property name="studentAdd">
		<value>Kailash</value>
		</property>
	
		
	</bean>
</beans>  